<template>
  <div class="hello">
    <input 
      id="left" 
      v-model.number="left">
    <select 
      id="operator" 
      v-model="operator">
      <option>+</option>
      <option>*</option>
    </select>
    <input 
      id="right" 
      v-model.number="right">
    =
    <span id="result">{{ result }}</span>
  </div>
</template>

<script>
export default {
  name: 'Calculator',
  data() {
    return {
      left: 0,
      right: 0,
      operator: '+'
    };
  },
  computed: {
    result: function () {
      if (this.operator == '+') {
        return this.left + this.right;
      } else if (this.operator == '*') {
        return this.left * this.right;
      }
    }
  }
};
</script>

<style>
</style>
